<!-- File: views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Heart Failure Records Analysis</h1>
    <nav>
        <ul>
            <li><a href="/records">View All Records</a></li>
            <li><a href="/analysis/statistics">View Statistics</a> </li> 
            <li><a href="/analysis/causes-most-deaths-page">What Causes Most Deaths</a></li>
            <li><a href="/analysis/survival-rate-trends">Survival Rate Trends</a></li>
            <li><a href="/analysis/survival-rate-analysis">Survival Rates</a></li>
            <li><a href="/analysis/serum-creatinine-ejection-fraction">Serum Creatinine vs Ejection Fraction</a></li>
        </ul>
    </nav>
</body>
</html>
