<!-- File: views/survival-rate-trends.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
    <!-- Loads the Plotly library for creating interactive charts -->
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
</head>
<body>
    <h1><%= title %></h1>

    <!-- Brief description of the page -->
    <p>Visualize survival rate trends based on different features like age, creatinine phosphokinase and others.</p>

    <ul class="back-button">
        <li><a href="/">← Back</a></li>
    </ul>
    
    <!-- A container for the dropdown and button -->
    <div class="container">
        <!-- Label and Dropdown to select the feature for survival rate trends -->
        <label for="feature">Select Feature for Survival Rate Line Graph:</label>
        <select id="feature">
            <!-- Dropdown options for selecting the feature -->
            <option value="age">Age</option>
            <option value="creatinine_phosphokinase">Creatinine Phosphokinase</option>
            <option value="ejection_fraction">Ejection Fraction</option>
            <option value="platelets">Platelets</option>
            <option value="serum_creatinine">Serum Creatinine</option>
            <option value="serum_sodium">Serum Sodium</option>
            <option value="time">Time</option>
        </select>

        <!-- Button that triggers the generateLineGraph function to generate the line graph -->
        <button onclick="generateLineGraph()">Generate Graph</button>
    </div>

    <!-- Creates a canvas element where the graph will be rendered-->
    <div id="graph"></div>

    <!-- Links to the external JavaScript file to add functionality and handle the chart rendering -->
    <script src="/scripts/charts.js"></script>
</body>
</html>